.carousel-container {
  width: 50vw;
  height: 40vh;
}
.carousel {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.image-container {
  display: flex;
  height: 100%;
}
.image {
  height: 100%;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  background-color: black;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}
